.upload-module-box {
    width: 30rem;
    height: 100%;
    padding: 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.top{
    padding-right: 1.875rem;
    height: 2.75rem;
    line-height: 2.75rem;
}

.upload {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}